.inputData {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    gap: 10px;
}

.inputCode {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputCode label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid;
}

th, td {
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 2px 12px;
}